.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 500px;
    height: 25vh;
    padding: 20px;
    background-color: #ededed;
    border: 2px solid black;
    border-radius: 8px;

    &__title {
        margin-bottom: 10px;
    }

    input {
        width: 350px;
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 2px solid;
        outline: none;
    }

    button {
        padding: 10px;
        width: 50%;
        background-color: #333;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        border-radius: 5px;

        &:hover {
            background-color: black;
        }
    }
}