.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 345px;
    padding: 5px 10px;
    border: 1px solid;

    .checkbox {
        display: flex;
        align-items: center;
        overflow: hidden;

        &__icon {
            margin-right: 15px;
        }

        .desc-container {

            &--line-through {
                text-decoration: line-through;
            }
        }
    }

    .icons-container {
        display: flex;
        justify-content: space-between;
        width: 40px;
        
        &__icon {
            font-size: 15px;
            cursor: pointer;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 100px;

        button {
            padding: 5px;
            cursor: pointer;
        }
    }
}